<div class="pt-5 mx-auto w-75">
  <div class="mb-3">
    <app-filter
      [filters]="filterItems"
      (filterChange)="onFilterChange($event)"
    ></app-filter>
  </div>
  <div
    *ngIf="(tasks$ | async)?.length; else noTask"
    class="task-list-container border py-4"
  >
    <div class="task-header row m-0 border-bottom">
      <div class="col-1"></div>
      <div class="col-3">
        <h3>Task</h3>
      </div>
      <div class="col-4">
        <h3>Description</h3>
      </div>
      <div class="col-2">
        <h3>Status</h3>
      </div>
      <div class="col-2 text-center">
        <h3>Action</h3>
      </div>
    </div>
    <div class="task-container">
      <ul *ngFor="let task of (tasks$ | async); let i = index"
        class="p-0"
      >
        <li class="row pt-2">
          <div class="col-1 text-center">{{i + 1}}.</div>
          <div class="col-3">{{ task.title }}</div>
          <div class="col-4">{{ task.description }}</div>
          <div class="col-2">{{ task.status }}</div>
          <div class="col-2">
            <button
              type="button"
              class="btn btn-dark"
              [disabled]="taskStatus.COMPLETE === task.status"
              (click)="onMarkComplete(task)"
            >
              Complete
            </button>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <ng-template #noTask>
    <div class="row text-center p-5 border">
      <h2>No task available</h2>
    </div>
  </ng-template>
</div>
